.filter-bar-container {
  //background-color: #f3b8c6;
  width: 260px;
  height: auto;
  margin: 25px 10px;
  display: flex;
  flex-direction: column;

  .filter-title {
    font: 700 1.5rem/normal Roboto,sans-serif;
    margin: 0 0 13px 15px;
  }
}