
.login-btns-container {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //width: 600px;

  .login-btn {
    color: white;
    background-color: black;
    font: 600 1rem/1.6 Roboto Condensed,sans-serif;
    padding: 5px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: 1px;
  }
}