* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-page-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  //bcakground-color: #ffffff;
  .main-page-header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    img {
      width: 200px;
      height: 200px;
    }
  }
  .main-page-content{
    display: flex;
    width: 98%;
    color: #000000;
    margin: 0 auto;

    .page-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 5px;
    }

    .sortBar-container {
      margin: -10px 36px 5px 0;
    }
  }

  .page-content {
    width: 100%;
    margin: 20px auto;
  }

  .main-page-footer{
    padding: 20px;
    width: 100%;
    height: 500px;
    background-color: #000000;
    color: #ffffff;
  }
}