.pop-up-products {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid black;
  .product-info{
    margin: 0 1rem;
    line-height: 2rem;
  }
  .product-quantity{
    margin:0 1rem;
    line-height: 2rem;
  }
  img {
    width: 6rem;
    height: 6rem;
  }
}