.pop-up {
  .pop-up-model {
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: 'Roboto Condensed', 'sans-serif';
    padding: 1rem 1rem;
    z-index: 20;
    overflow: auto;
    h4 {
      font: 600 0.95rem/1.6 Roboto Condensed, sans-serif;
    }

    p {
      font: 500 0.95rem/1.6 Roboto Condensed, sans-serif;
    }

    .close-icon {
      position: absolute;
      right: 1rem;
      cursor: pointer;
    }

    .pop-up-title {
      margin-top: 1rem;
      font-size: .9rem;
      text-align: center;

      h2 {
        color: black;
        padding-bottom: .8rem;
        font-weight: bolder;
      }
    }

    .pop-up-container {
      display: flex;
      flex-direction: column;
      height: 50%;
      overflow: auto;
      padding: .2rem;
      color: #494949;
      background-color: white;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19;
  }

  .pop-up-order-summary {
    margin-top: 1rem;
    background-color: #fafafa;

    .pop-up-order {
      //padding-top: 1rem ;
      background-color: white;
      padding: 1rem;

      .subtotal {
        color: #494949;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: .2rem;
        margin-bottom: 1rem;
        border-bottom: 1px dotted #1e1a1a;
      }

      .tax {
        color: #494949;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: .2rem;
        margin-bottom: 1rem;
        border-bottom: 1px dotted #1e1a1a;
      }

      .total {
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: .2rem;
        margin-bottom: 1rem;
        border-bottom: 1px dotted #1e1a1a;
      }
    }
  }

  .pop-up-checkout {
    margin-top: 1rem;
    font: 550 1.1rem/1.6 Roboto Condensed, sans-serif;
    padding: 1rem;

    .continue {
      background-color: black;
      color: white;
      text-align: center;
      padding: .6rem;
      margin-bottom: 1rem;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }

    .checkout {
      background-color: black;
      color: white;
      text-align: center;
      padding: .6rem;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}