.order-list-id{
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.main-page-header {
  font: 500 1.1rem/1.6 Roboto Condensed,sans-serif;

  .back-to-main {
    margin-bottom: -15px;
    width: 210px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.user-order-container {
  font: 500 1.1rem/1.6 Roboto Condensed,sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.main-page-footer{
  position: fixed;
  bottom: 0;
}